@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
    font-family: "Roboto", sans-serif;
}

.text-linear {
    background: linear-gradient(91deg, #EB00FF 4.53%, #001AFF 95.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-linear {
    background: linear-gradient(135deg, #EB00FF 0%, #001AFF 89.29%);
}

.banner-linear {
    background: linear-gradient(189deg, rgba(227, 227, 227, 0.00) 13.95%, #ECECEC 100%);
}

.card-shadow{
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
}